sistema_maestros1/sistema_maestros1/Web References/webservices3435/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:https://webservicechatbot.s3435.com/service.php" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:https://webservicechatbot.s3435.com/service.php" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:https://webservicechatbot.s3435.com/service.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="loginRequest">
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="cargarDatosProfesorRequest" />
  <wsdl:message name="cargarDatosProfesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDatosProfesorRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDatosProfesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregardatosprofesorRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidopat" type="xsd:string" />
    <wsdl:part name="apellidomat" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregardatosprofesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificardatosprofesorRequest">
    <wsdl:part name="id" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="apellidopat" type="xsd:string" />
    <wsdl:part name="apellidomat" type="xsd:string" />
    <wsdl:part name="contrasena" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificardatosprofesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminardatosprofesorRequest">
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminardatosprofesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarNombreProfesorRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarNombreProfesorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDPRequest" />
  <wsdl:message name="BuscarMAXIDPResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarDatosEscuelaRequest" />
  <wsdl:message name="cargarDatosEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarEscuelaRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarEscuelaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nombre_esc" type="xsd:string" />
    <wsdl:part name="direccion_esc" type="xsd:string" />
    <wsdl:part name="tel1_Esc" type="xsd:string" />
    <wsdl:part name="tel2_esc" type="xsd:string" />
    <wsdl:part name="tel3_esc" type="xsd:string" />
    <wsdl:part name="correo_esc" type="xsd:string" />
    <wsdl:part name="contacto_esc" type="xsd:string" />
    <wsdl:part name="responsable_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarEscuelaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nombre_esc" type="xsd:string" />
    <wsdl:part name="direccion_esc" type="xsd:string" />
    <wsdl:part name="tel1_Esc" type="xsd:string" />
    <wsdl:part name="tel2_esc" type="xsd:string" />
    <wsdl:part name="tel3_esc" type="xsd:string" />
    <wsdl:part name="correo_esc" type="xsd:string" />
    <wsdl:part name="contacto_esc" type="xsd:string" />
    <wsdl:part name="responsable_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarEscuelaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarNombresEscuelaRequest">
    <wsdl:part name="nombre_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarNombresEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDERequest" />
  <wsdl:message name="BuscarMAXIDEResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarDatosTutorRequest" />
  <wsdl:message name="cargarDatosTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTutorRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarTutorRequest">
    <wsdl:part name="id_tut" type="xsd:string" />
    <wsdl:part name="nombre_tut" type="xsd:string" />
    <wsdl:part name="apellidoPat_tut" type="xsd:string" />
    <wsdl:part name="apellidoMat_tut" type="xsd:string" />
    <wsdl:part name="telefono_tut" type="xsd:string" />
    <wsdl:part name="parentesco_tut" type="xsd:string" />
    <wsdl:part name="correo_tut" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarTutorRequest">
    <wsdl:part name="id_tut" type="xsd:string" />
    <wsdl:part name="nombre_tut" type="xsd:string" />
    <wsdl:part name="apellidoPat_tut" type="xsd:string" />
    <wsdl:part name="apellidoMat_tut" type="xsd:string" />
    <wsdl:part name="telefono_tut" type="xsd:string" />
    <wsdl:part name="parentesco_tut" type="xsd:string" />
    <wsdl:part name="correo_tut" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarTutorRequest">
    <wsdl:part name="id_tut" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDRequest">
    <wsdl:part name="sub" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarNumeroRequest">
    <wsdl:part name="telefono" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarNumeroResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarDatosAlumnoRequest" />
  <wsdl:message name="cargarDatosAlumnoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnoRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarAlumnoRequest">
    <wsdl:part name="id_escuela" type="xsd:string" />
    <wsdl:part name="id_alm" type="xsd:string" />
    <wsdl:part name="nombre_alm" type="xsd:string" />
    <wsdl:part name="apellidoPat_alm" type="xsd:string" />
    <wsdl:part name="apellidoMat_alm" type="xsd:string" />
    <wsdl:part name="grado_alm" type="xsd:string" />
    <wsdl:part name="nivel_alm" type="xsd:string" />
    <wsdl:part name="status_alm" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarAlumnoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarAlumnoRequest">
    <wsdl:part name="id_escuela" type="xsd:string" />
    <wsdl:part name="id_alm" type="xsd:string" />
    <wsdl:part name="nombre_alm" type="xsd:string" />
    <wsdl:part name="apellidoPat_alm" type="xsd:string" />
    <wsdl:part name="apellidoMat_alm" type="xsd:string" />
    <wsdl:part name="grado_alm" type="xsd:string" />
    <wsdl:part name="nivel_alm" type="xsd:string" />
    <wsdl:part name="status_alm" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarAlumnoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarAlumnoRequest">
    <wsdl:part name="id_alm" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarAlumnoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDARequest">
    <wsdl:part name="sub" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="BuscarMAXIDAResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarDatosDeTallerRequest" />
  <wsdl:message name="cargarDatosDeTallerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTallerRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTallerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarTallerRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_taller" type="xsd:string" />
    <wsdl:part name="nombre_ta" type="xsd:string" />
    <wsdl:part name="costo_ta" type="xsd:double" />
    <wsdl:part name="desc_ta" type="xsd:string" />
    <wsdl:part name="fechaIni_ta" type="xsd:string" />
    <wsdl:part name="fechaFin_ta" type="xsd:string" />
    <wsdl:part name="nivelEdu_ta" type="xsd:string" />
    <wsdl:part name="grados_ta" type="xsd:string" />
    <wsdl:part name="id_profesor" type="xsd:string" />
    <wsdl:part name="habilidades_ta" type="xsd:string" />
    <wsdl:part name="justcosto_ta" type="xsd:string" />
    <wsdl:part name="herramientas_ta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarTallerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarTallerRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_taller" type="xsd:string" />
    <wsdl:part name="nombre_ta" type="xsd:string" />
    <wsdl:part name="costo_ta" type="xsd:double" />
    <wsdl:part name="desc_ta" type="xsd:string" />
    <wsdl:part name="fechaIni_ta" type="xsd:string" />
    <wsdl:part name="fechaFin_ta" type="xsd:string" />
    <wsdl:part name="nivelEdu_ta" type="xsd:string" />
    <wsdl:part name="grados_ta" type="xsd:string" />
    <wsdl:part name="id_profesor" type="xsd:string" />
    <wsdl:part name="habilidades_ta" type="xsd:string" />
    <wsdl:part name="justcosto_ta" type="xsd:string" />
    <wsdl:part name="herramientas_ta" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarTallerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarTallerRequest">
    <wsdl:part name="id_taller" type="xsd:string" />
    <wsdl:part name="id_escuela" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarTallerResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTallerXIDescuelaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarTallerXIDescuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDTRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="sub" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDTResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarTallerXgrupoRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nivel" type="xsd:string" />
    <wsdl:part name="prim" type="xsd:string" />
    <wsdl:part name="seg" type="xsd:string" />
    <wsdl:part name="ter" type="xsd:string" />
    <wsdl:part name="fecha" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarTallerXgrupoResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="cargarDatosAhasTRequest" />
  <wsdl:message name="cargarDatosAhasTResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnoTutorRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnoTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarAlumnoTutorRequest">
    <wsdl:part name="id_alm" type="xsd:string" />
    <wsdl:part name="id_escuela" type="xsd:string" />
    <wsdl:part name="id_tutor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarAlumnoTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarAlumnoTutorRequest">
    <wsdl:part name="id_alm" type="xsd:string" />
    <wsdl:part name="id_tutor" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarAlumnoTutorResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarDatosDinamicaRequest" />
  <wsdl:message name="cargarDatosDinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDinamicaRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarDinamicaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="nombre_din" type="xsd:string" />
    <wsdl:part name="desc_din" type="xsd:string" />
    <wsdl:part name="fechaIni_din" type="xsd:string" />
    <wsdl:part name="fechaFIn_din" type="xsd:string" />
    <wsdl:part name="habilidades_din" type="xsd:string" />
    <wsdl:part name="justif_din" type="xsd:string" />
    <wsdl:part name="herr_din" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarDinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarDinamicaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="nombre_din" type="xsd:string" />
    <wsdl:part name="desc_din" type="xsd:string" />
    <wsdl:part name="fechaIni_din" type="xsd:string" />
    <wsdl:part name="fechaFIn_din" type="xsd:string" />
    <wsdl:part name="habilidades_din" type="xsd:string" />
    <wsdl:part name="justif_din" type="xsd:string" />
    <wsdl:part name="herr_din" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarDinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarDinamicaRequest">
    <wsdl:part name="id_escuela" type="xsd:string" />
    <wsdl:part name="id_taller" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarDinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDinamicaXTallerYEscuelaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarDinamicaXTallerYEscuelaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDDRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="sub" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDDResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarDinamicaXtallerRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="fecha" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarDinamicaXtallerResponse">
    <wsdl:part name="return" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="cargarDatosMaterialRequest" />
  <wsdl:message name="cargarDatosMaterialResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMaterialRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMaterialResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarMaterialRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
    <wsdl:part name="nombre_mat" type="xsd:string" />
    <wsdl:part name="costo_mat" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="agregarMaterialResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarMaterialRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
    <wsdl:part name="nombre_mat" type="xsd:string" />
    <wsdl:part name="costo_mat" type="xsd:double" />
  </wsdl:message>
  <wsdl:message name="modificarMaterialResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarMaterialRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarMaterialResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDMRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="sub" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDMResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarPagosRequest" />
  <wsdl:message name="cargarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarPagosRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_alm" type="xsd:string" />
    <wsdl:part name="id_pago" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarPagosRequest">
    <wsdl:part name="id_pago" type="xsd:string" />
    <wsdl:part name="mes" type="xsd:string" />
    <wsdl:part name="fecha" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDPAGORequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDPAGOResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnosPagosRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="alumno" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarAlumnosPagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarRecomendacionesRequest" />
  <wsdl:message name="cargarRecomendacionesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarRecomendacionesRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarRecomendacionesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AgregarRecomendacionesRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
    <wsdl:part name="id_rec" type="xsd:string" />
    <wsdl:part name="especificacion" type="xsd:string" />
    <wsdl:part name="recom" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="AgregarRecomendacionesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarRecomendacionesRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
    <wsdl:part name="id_rec" type="xsd:string" />
    <wsdl:part name="especificacion" type="xsd:string" />
    <wsdl:part name="recom" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarRecomendacionesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarRecomendacionesRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
    <wsdl:part name="id_rec" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarRecomendacionesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDRRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tal" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
    <wsdl:part name="id_mat" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDRResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMaterialxdinamicaRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_tall" type="xsd:string" />
    <wsdl:part name="id_din" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMaterialxdinamicaResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="cargarIncidenciasRequest" />
  <wsdl:message name="cargarIncidenciasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarIncidenciasRequest">
    <wsdl:part name="busqueda" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarIncidenciasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarIncidenciasRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_inc" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="desc" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="agregarIncidenciasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarIncidenciasRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_inc" type="xsd:string" />
    <wsdl:part name="nombre" type="xsd:string" />
    <wsdl:part name="desc" type="xsd:string" />
    <wsdl:part name="tipo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="modificarIncidenciasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarIncidenciasRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="id_inc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="eliminarIncidenciasResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDIRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="buscarMAXIDIResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarGruposRequest">
    <wsdl:part name="newgrado" type="xsd:string" />
    <wsdl:part name="oldgrado" type="xsd:string" />
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nivel_edu" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarGruposResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarNivelRequest">
    <wsdl:part name="newnivel" type="xsd:string" />
    <wsdl:part name="oldnivel" type="xsd:string" />
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="grado" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarNivelResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarGradoRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="validarGradoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarpagosRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="actualizarpagosResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="filtrarAlumnosXnivelRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nivel" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="filtrarAlumnosXnivelResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="filtrarAlumnosXnivelYgradoRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
    <wsdl:part name="nivel" type="xsd:string" />
    <wsdl:part name="grado" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="filtrarAlumnosXnivelYgradoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultaNivelesRequest">
    <wsdl:part name="id_esc" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="consultaNivelesResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="WSPHPPortType">
    <wsdl:operation name="login">
      <documentation>login </documentation>
      <wsdl:input message="tns:loginRequest" />
      <wsdl:output message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosProfesor">
      <documentation>cargar datos profesor</documentation>
      <wsdl:input message="tns:cargarDatosProfesorRequest" />
      <wsdl:output message="tns:cargarDatosProfesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarDatosProfesor">
      <documentation>buscar datos de profesor</documentation>
      <wsdl:input message="tns:buscarDatosProfesorRequest" />
      <wsdl:output message="tns:buscarDatosProfesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregardatosprofesor">
      <documentation>agregar datos de profesor</documentation>
      <wsdl:input message="tns:agregardatosprofesorRequest" />
      <wsdl:output message="tns:agregardatosprofesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificardatosprofesor">
      <documentation>modificar datos de profesor</documentation>
      <wsdl:input message="tns:modificardatosprofesorRequest" />
      <wsdl:output message="tns:modificardatosprofesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminardatosprofesor">
      <documentation>Cargar datos de profesor</documentation>
      <wsdl:input message="tns:eliminardatosprofesorRequest" />
      <wsdl:output message="tns:eliminardatosprofesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarNombreProfesor">
      <documentation>Cargar Nombres Profesor</documentation>
      <wsdl:input message="tns:cargarNombreProfesorRequest" />
      <wsdl:output message="tns:cargarNombreProfesorResponse" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDP">
      <documentation>cargar ID MAX</documentation>
      <wsdl:input message="tns:BuscarMAXIDPRequest" />
      <wsdl:output message="tns:BuscarMAXIDPResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosEscuela">
      <documentation>cargar datos escuela</documentation>
      <wsdl:input message="tns:cargarDatosEscuelaRequest" />
      <wsdl:output message="tns:cargarDatosEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarEscuela">
      <documentation>buscar datos de escuela</documentation>
      <wsdl:input message="tns:buscarEscuelaRequest" />
      <wsdl:output message="tns:buscarEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarEscuela">
      <documentation>Agregar datos de escuela</documentation>
      <wsdl:input message="tns:agregarEscuelaRequest" />
      <wsdl:output message="tns:agregarEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarEscuela">
      <documentation>modificar datos escuela</documentation>
      <wsdl:input message="tns:modificarEscuelaRequest" />
      <wsdl:output message="tns:modificarEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEscuela">
      <documentation>eliminar datos de escuela</documentation>
      <wsdl:input message="tns:eliminarEscuelaRequest" />
      <wsdl:output message="tns:eliminarEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarNombresEscuela">
      <documentation>Cargar Nombres Escuela</documentation>
      <wsdl:input message="tns:cargarNombresEscuelaRequest" />
      <wsdl:output message="tns:cargarNombresEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDE">
      <documentation>cargar ID MAX</documentation>
      <wsdl:input message="tns:BuscarMAXIDERequest" />
      <wsdl:output message="tns:BuscarMAXIDEResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosTutor">
      <documentation> Cargar datos tutor</documentation>
      <wsdl:input message="tns:cargarDatosTutorRequest" />
      <wsdl:output message="tns:cargarDatosTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <documentation> buscardatos tutor</documentation>
      <wsdl:input message="tns:buscarTutorRequest" />
      <wsdl:output message="tns:buscarTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarTutor">
      <documentation> Agregar datos tutor</documentation>
      <wsdl:input message="tns:agregarTutorRequest" />
      <wsdl:output message="tns:agregarTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarTutor">
      <documentation>Modificar datos tutor</documentation>
      <wsdl:input message="tns:modificarTutorRequest" />
      <wsdl:output message="tns:modificarTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTutor">
      <documentation>Eliminar datos tutor</documentation>
      <wsdl:input message="tns:eliminarTutorRequest" />
      <wsdl:output message="tns:eliminarTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXID">
      <documentation>buscar MAX id</documentation>
      <wsdl:input message="tns:BuscarMAXIDRequest" />
      <wsdl:output message="tns:BuscarMAXIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarNumero">
      <documentation>validar numero existente</documentation>
      <wsdl:input message="tns:validarNumeroRequest" />
      <wsdl:output message="tns:validarNumeroResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosAlumno">
      <documentation> Cargar datos alumno</documentation>
      <wsdl:input message="tns:cargarDatosAlumnoRequest" />
      <wsdl:output message="tns:cargarDatosAlumnoResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <documentation>buscar datos alumno</documentation>
      <wsdl:input message="tns:buscarAlumnoRequest" />
      <wsdl:output message="tns:buscarAlumnoResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarAlumno">
      <documentation>Agregar datos alumno</documentation>
      <wsdl:input message="tns:agregarAlumnoRequest" />
      <wsdl:output message="tns:agregarAlumnoResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarAlumno">
      <documentation>Agregar datos alumno</documentation>
      <wsdl:input message="tns:modificarAlumnoRequest" />
      <wsdl:output message="tns:modificarAlumnoResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarAlumno">
      <documentation>Eliminar datos alumno</documentation>
      <wsdl:input message="tns:eliminarAlumnoRequest" />
      <wsdl:output message="tns:eliminarAlumnoResponse" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDA">
      <documentation>buscar MAX id</documentation>
      <wsdl:input message="tns:BuscarMAXIDARequest" />
      <wsdl:output message="tns:BuscarMAXIDAResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosDeTaller">
      <documentation>Cargar datos taller</documentation>
      <wsdl:input message="tns:cargarDatosDeTallerRequest" />
      <wsdl:output message="tns:cargarDatosDeTallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarTaller">
      <documentation>buscar datos taller</documentation>
      <wsdl:input message="tns:buscarTallerRequest" />
      <wsdl:output message="tns:buscarTallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarTaller">
      <documentation>agregar datos taller</documentation>
      <wsdl:input message="tns:agregarTallerRequest" />
      <wsdl:output message="tns:agregarTallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarTaller">
      <documentation>buscar datos taller</documentation>
      <wsdl:input message="tns:modificarTallerRequest" />
      <wsdl:output message="tns:modificarTallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTaller">
      <documentation>buscar datos taller</documentation>
      <wsdl:input message="tns:eliminarTallerRequest" />
      <wsdl:output message="tns:eliminarTallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarTallerXIDescuela">
      <documentation>cargar nombres taller</documentation>
      <wsdl:input message="tns:buscarTallerXIDescuelaRequest" />
      <wsdl:output message="tns:buscarTallerXIDescuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDT">
      <documentation>buscar ID MAX taller</documentation>
      <wsdl:input message="tns:buscarMAXIDTRequest" />
      <wsdl:output message="tns:buscarMAXIDTResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarTallerXgrupo">
      <documentation>Validar taller x grupo al mismo tiempo</documentation>
      <wsdl:input message="tns:validarTallerXgrupoRequest" />
      <wsdl:output message="tns:validarTallerXgrupoResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosAhasT">
      <documentation>Cargar datos AT</documentation>
      <wsdl:input message="tns:cargarDatosAhasTRequest" />
      <wsdl:output message="tns:cargarDatosAhasTResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnoTutor">
      <documentation>buscar datos alumno Tutor</documentation>
      <wsdl:input message="tns:buscarAlumnoTutorRequest" />
      <wsdl:output message="tns:buscarAlumnoTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarAlumnoTutor">
      <documentation>Agregar datos alumno tutor</documentation>
      <wsdl:input message="tns:agregarAlumnoTutorRequest" />
      <wsdl:output message="tns:agregarAlumnoTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarAlumnoTutor">
      <documentation>eliminar datos alumno tutor</documentation>
      <wsdl:input message="tns:eliminarAlumnoTutorRequest" />
      <wsdl:output message="tns:eliminarAlumnoTutorResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosDinamica">
      <documentation>Cargar datos dinamica</documentation>
      <wsdl:input message="tns:cargarDatosDinamicaRequest" />
      <wsdl:output message="tns:cargarDatosDinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarDinamica">
      <documentation>buscar datos dinamica</documentation>
      <wsdl:input message="tns:buscarDinamicaRequest" />
      <wsdl:output message="tns:buscarDinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarDinamica">
      <documentation>Agregar datos dinamica</documentation>
      <wsdl:input message="tns:agregarDinamicaRequest" />
      <wsdl:output message="tns:agregarDinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarDinamica">
      <documentation>Modificar datos dinamica</documentation>
      <wsdl:input message="tns:modificarDinamicaRequest" />
      <wsdl:output message="tns:modificarDinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarDinamica">
      <documentation>eliminar datos dinamica</documentation>
      <wsdl:input message="tns:eliminarDinamicaRequest" />
      <wsdl:output message="tns:eliminarDinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarDinamicaXTallerYEscuela">
      <documentation>buscar datos dinamica</documentation>
      <wsdl:input message="tns:buscarDinamicaXTallerYEscuelaRequest" />
      <wsdl:output message="tns:buscarDinamicaXTallerYEscuelaResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDD">
      <documentation>buscar ID MAX dinamica</documentation>
      <wsdl:input message="tns:buscarMAXIDDRequest" />
      <wsdl:output message="tns:buscarMAXIDDResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarDinamicaXtaller">
      <documentation>validar dinamicas con diferentes fechas de I y F</documentation>
      <wsdl:input message="tns:validarDinamicaXtallerRequest" />
      <wsdl:output message="tns:validarDinamicaXtallerResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarDatosMaterial">
      <documentation>Cargar datos material</documentation>
      <wsdl:input message="tns:cargarDatosMaterialRequest" />
      <wsdl:output message="tns:cargarDatosMaterialResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMaterial">
      <documentation>buscar datos material</documentation>
      <wsdl:input message="tns:buscarMaterialRequest" />
      <wsdl:output message="tns:buscarMaterialResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarMaterial">
      <documentation>Agregar datos material</documentation>
      <wsdl:input message="tns:agregarMaterialRequest" />
      <wsdl:output message="tns:agregarMaterialResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarMaterial">
      <documentation>Modificar datos material</documentation>
      <wsdl:input message="tns:modificarMaterialRequest" />
      <wsdl:output message="tns:modificarMaterialResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMaterial">
      <documentation>eliminar datos material</documentation>
      <wsdl:input message="tns:eliminarMaterialRequest" />
      <wsdl:output message="tns:eliminarMaterialResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDM">
      <documentation>buscar ID MAX material</documentation>
      <wsdl:input message="tns:buscarMAXIDMRequest" />
      <wsdl:output message="tns:buscarMAXIDMResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarPagos">
      <documentation>Cargar datos pagos</documentation>
      <wsdl:input message="tns:cargarPagosRequest" />
      <wsdl:output message="tns:cargarPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <documentation>buscar datos pagos</documentation>
      <wsdl:input message="tns:buscarPagosRequest" />
      <wsdl:output message="tns:buscarPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarPagos">
      <documentation>Agregar datos pagos</documentation>
      <wsdl:input message="tns:agregarPagosRequest" />
      <wsdl:output message="tns:agregarPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarPagos">
      <documentation>Agregar datos pagos</documentation>
      <wsdl:input message="tns:modificarPagosRequest" />
      <wsdl:output message="tns:modificarPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDPAGO">
      <documentation>Agregar datos pagos</documentation>
      <wsdl:input message="tns:buscarMAXIDPAGORequest" />
      <wsdl:output message="tns:buscarMAXIDPAGOResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnosPagos">
      <documentation>Agregar datos pagos</documentation>
      <wsdl:input message="tns:buscarAlumnosPagosRequest" />
      <wsdl:output message="tns:buscarAlumnosPagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarRecomendaciones">
      <documentation>Cargar datos recomendaciones</documentation>
      <wsdl:input message="tns:cargarRecomendacionesRequest" />
      <wsdl:output message="tns:cargarRecomendacionesResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarRecomendaciones">
      <documentation>buscar datos pagos</documentation>
      <wsdl:input message="tns:buscarRecomendacionesRequest" />
      <wsdl:output message="tns:buscarRecomendacionesResponse" />
    </wsdl:operation>
    <wsdl:operation name="AgregarRecomendaciones">
      <documentation>Agregar recomendaciones</documentation>
      <wsdl:input message="tns:AgregarRecomendacionesRequest" />
      <wsdl:output message="tns:AgregarRecomendacionesResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarRecomendaciones">
      <documentation>modificar recomendaciones</documentation>
      <wsdl:input message="tns:modificarRecomendacionesRequest" />
      <wsdl:output message="tns:modificarRecomendacionesResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarRecomendaciones">
      <documentation>eliminar recomendaciones</documentation>
      <wsdl:input message="tns:eliminarRecomendacionesRequest" />
      <wsdl:output message="tns:eliminarRecomendacionesResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDR">
      <documentation>buscar MAX ID de recomendaciones</documentation>
      <wsdl:input message="tns:buscarMAXIDRRequest" />
      <wsdl:output message="tns:buscarMAXIDRResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMaterialxdinamica">
      <documentation>buscar MAX ID de recomendaciones</documentation>
      <wsdl:input message="tns:buscarMaterialxdinamicaRequest" />
      <wsdl:output message="tns:buscarMaterialxdinamicaResponse" />
    </wsdl:operation>
    <wsdl:operation name="cargarIncidencias">
      <documentation>Cargar datos incidencias</documentation>
      <wsdl:input message="tns:cargarIncidenciasRequest" />
      <wsdl:output message="tns:cargarIncidenciasResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarIncidencias">
      <documentation>buscar datos incidencias</documentation>
      <wsdl:input message="tns:buscarIncidenciasRequest" />
      <wsdl:output message="tns:buscarIncidenciasResponse" />
    </wsdl:operation>
    <wsdl:operation name="agregarIncidencias">
      <documentation>agregar datos incidencias</documentation>
      <wsdl:input message="tns:agregarIncidenciasRequest" />
      <wsdl:output message="tns:agregarIncidenciasResponse" />
    </wsdl:operation>
    <wsdl:operation name="modificarIncidencias">
      <documentation>agregar datos incidencias</documentation>
      <wsdl:input message="tns:modificarIncidenciasRequest" />
      <wsdl:output message="tns:modificarIncidenciasResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarIncidencias">
      <documentation>elimiar datos incidencias</documentation>
      <wsdl:input message="tns:eliminarIncidenciasRequest" />
      <wsdl:output message="tns:eliminarIncidenciasResponse" />
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDI">
      <documentation>buscar MAX ID de incidencias</documentation>
      <wsdl:input message="tns:buscarMAXIDIRequest" />
      <wsdl:output message="tns:buscarMAXIDIResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarGrupos">
      <documentation>Actualizar el grado de los alumnos por ID de escuela</documentation>
      <wsdl:input message="tns:actualizarGruposRequest" />
      <wsdl:output message="tns:actualizarGruposResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarNivel">
      <documentation>Actualizar el nivel educativo de los alumnos por ID escuela</documentation>
      <wsdl:input message="tns:actualizarNivelRequest" />
      <wsdl:output message="tns:actualizarNivelResponse" />
    </wsdl:operation>
    <wsdl:operation name="validarGrado">
      <documentation>Pasar a Inactivo a los alumnos de 3 de secundaria cuando termine el ciclo escolar</documentation>
      <wsdl:input message="tns:validarGradoRequest" />
      <wsdl:output message="tns:validarGradoResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarpagos">
      <documentation>borrar los registros de los pagos de los alumnos por ciclo escolar</documentation>
      <wsdl:input message="tns:actualizarpagosRequest" />
      <wsdl:output message="tns:actualizarpagosResponse" />
    </wsdl:operation>
    <wsdl:operation name="filtrarAlumnosXnivel">
      <documentation>borrar los registros de los pagos de los alumnos por ciclo escolar</documentation>
      <wsdl:input message="tns:filtrarAlumnosXnivelRequest" />
      <wsdl:output message="tns:filtrarAlumnosXnivelResponse" />
    </wsdl:operation>
    <wsdl:operation name="filtrarAlumnosXnivelYgrado">
      <documentation>borrar los registros de los pagos de los alumnos por ciclo escolar</documentation>
      <wsdl:input message="tns:filtrarAlumnosXnivelYgradoRequest" />
      <wsdl:output message="tns:filtrarAlumnosXnivelYgradoResponse" />
    </wsdl:operation>
    <wsdl:operation name="consultaNiveles">
      <documentation>borrar los registros de los pagos de los alumnos por ciclo escolar</documentation>
      <wsdl:input message="tns:consultaNivelesRequest" />
      <wsdl:output message="tns:consultaNivelesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPHPBinding" type="tns:WSPHPPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="login">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/login" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosProfesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosProfesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDatosProfesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarDatosProfesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregardatosprofesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregardatosprofesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificardatosprofesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificardatosprofesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/servie.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/servie.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminardatosprofesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminardatosprofesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarNombreProfesor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarNombreProfesor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDP">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/BuscarMAXIDP" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarNombresEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarNombresEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDE">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/BuscarMAXIDE" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXID">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/BuscarMAXID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarNumero">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/validarNumero" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosAlumno">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosAlumno" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumno">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarAlumno" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlumno">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarAlumno" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarAlumno">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarAlumno" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAlumno">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarAlumno" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMAXIDA">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/BuscarMAXIDA" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosDeTaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosDeTaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarTaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarTaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarTaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarTaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTallerXIDescuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarTallerXIDescuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDT">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDT" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarTallerXgrupo">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/validarTallerXgrupo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosAhasT">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosAhasT" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnoTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarAlumnoTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlumnoTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarAlumnoTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAlumnoTutor">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarAlumnoTutor" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosDinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosDinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarDinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarDinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarDinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarDinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarDinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarDinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDinamicaXTallerYEscuela">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarDinamicaXTallerYEscuela" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDD">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDD" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarDinamicaXtaller">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/validarDinamicaXtaller" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarDatosMaterial">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarDatosMaterial" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMaterial">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMaterial" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarMaterial">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarMaterial" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarMaterial">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarMaterial" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMaterial">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarMaterial" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDM">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDM" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarPagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarPagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarPagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDPAGO">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDPAGO" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAlumnosPagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarAlumnosPagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarRecomendaciones">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarRecomendaciones" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarRecomendaciones">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarRecomendaciones" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarRecomendaciones">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/AgregarRecomendaciones" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarRecomendaciones">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarRecomendaciones" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarRecomendaciones">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarRecomendaciones" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDR">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDR" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMaterialxdinamica">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMaterialxdinamica" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cargarIncidencias">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/cargarIncidencias" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicestadia.000webhostapp.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarIncidencias">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarIncidencias" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarIncidencias">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/agregarIncidencias" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarIncidencias">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/modificarIncidencias" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarIncidencias">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/eliminarIncidencias" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMAXIDI">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/buscarMAXIDI" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarGrupos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/actualizarGrupos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarNivel">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/actualizarNivel" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarGrado">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/validarGrado" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarpagos">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/actualizarpagos" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarAlumnosXnivel">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/filtrarAlumnosXnivel" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarAlumnosXnivelYgrado">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/filtrarAlumnosXnivelYgrado" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaNiveles">
      <soap:operation soapAction="https://webservicechatbot.s3435.com/service.php/consultaNiveles" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="https://webservicechatbot.s3435.com/service.php" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPHP">
    <wsdl:port name="WSPHPPort" binding="tns:WSPHPBinding">
      <soap:address location="https://webservicechatbot.s3435.com:443/service.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>